@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;700;900&family=Titillium+Web:wght@400;700;900&display=swap');
body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
	position: relative;
	font-weight: 300;
}
a {
	color: rgb(0, 108, 151);
}
a:hover {
	color: rgb(120, 194, 223);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
h1 {
	/* color: indianred; */
}
main {
	width: 90%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
	margin-bottom: 150px;
}
hr {
	border: solid 1px lightgray;
}
.arrow-icon {
	/* background: red; */
	/* padding-top: 20px;
	padding-bottom: 30px; */
	transform: translate(0, 20%);
}
